*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products{
    padding: 30px 40px;
    width: 100%;
}

.products .container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.products .container .filtro{
    padding: 20px 30px;
}

.categorias h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.categorias ul{
    margin-top: 10px;
}

.categorias ul li{
    list-style-type: none;
    margin-top: 30px;
    cursor: pointer;
}

.productBox{
    margin-right: 3%;
}

.productBox h2{
    text-align: center;
    font-size: 30px;

}

.productBox .content{
    display: grid;
    gap: 30px 40px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}

@media (max-width: 1280px){
    .productBox .content{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

 