.home{
    height: 130vh;
    width: 100%;
}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 1280px){
    .cardsContainer{
        width: 100%;
        margin: 0 auto;
    }
}