header .menuContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid #000;
    background-color: #F0F3F4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
}

header .Logo span{
    color: #0015C0;
}

header .menuDesktop ul{
    display: flex;
    
}

header .menuDesktop ul li{
    margin-right: 30px;
    font-size: 23px;
    list-style: none;
}

header .menuDesktop ul li .link{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.menuDesktop .link:hover{
    color: #0015C0;
    border-bottom: 1px solid #0015C0;
}

.buttons ul{
    display: flex;
}

.buttons ul li{
    list-style: none;
    margin-left: 50px;
}

 .btnLog{
    padding: 12px 22px;
    border: none;
    background-color: #0015C0;
    color: #F0F3F4;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
    font-size: 15px;
    margin-top: 10px;
}

 .btnLog:hover{
    background-color: transparent;
    color: #0015C0;
    box-shadow: 0 0 10px #0015C0;
}

 .buttons .linkCart{
    font-size: 30px;
    position: relative;
    top: 14px;
    color: #F0F3F4;
    background-color: #0015C0;
    border-radius: 50%;
    padding: 4px 10px 4px 10px;
    transition: 0.5s;
    margin: 0 auto;
}

.linkCart svg{
    position: relative;
    bottom: 2px;
    right: 1px;
}


.buttons .linkCart:hover{
    color: #0015C0;
    background-color: #F0F3F4;
    box-shadow: 0 0 10px #0015C0;
}


.menuMobile {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0F3F4; 
    z-index: 998; 
    overflow-y: auto; 
    padding-top: 60px; 
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%); 
}

.menuMobileOpen {
    display: block; 
    opacity: 1;
    visibility: visible;
    transform: translateX(0); 
}


.menuMobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuMobile ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd; 
}

.menuMobile ul li a {
    text-decoration: none;
    color: #0015C0;
    font-size: 18px;
    display: block; 
    transition: color 0.3s;
}

.menuMobile ul li a:hover {
    color: #000; 
}

.menuToggle svg{
    font-size: 35px;
    color: #0015C0;
}



@media (max-width: 768px) {
    .menuDesktop {
        display: none; 
    }

    .buttons{
        display: none;
    }

    .menuToggle {
        display: block; 
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .menuMobile {
        display: none; 
    }

    .menuToggle {
        display: none; 
    }
}