
 .productContainer{
   position: relative;
   top: 135px;
} 

.productContainer h2{
   padding: 20px;
   font-size: 50px;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.productContainer p{
   padding: 0 20px;
   font-size: 20px;
}


@media (max-width: 768px){
   .productContainer{
      height: 100vh;
      top: 110px;
   }
}

